<article class="homeworkTable">
    <h3>{{homework.title}}</h3>
    <div class="homework id">
        <span>Homework Id:</span> {{homework.id}}
    </div>
    <div class="homework course">
        <spawn>Course:</spawn> {{homework.course}}
    </div>
    <div class="homework courseId">
        <spawn>CourseId:</spawn> {{homework.courseId}}
    </div> 
    <div class="homework type">
        <span>Homework Type:</span> {{homework.type}}
    </div>
    <div class="homework dueDate">
        <span>Due Date:</span> {{homework.dueDate}}
    </div>
    <div class="homework priority">
        <span>Priority:</span> {{homework.priority}}
    </div>
    <div class="homework description">
        <span>Description:</span> {{homework.description}}
    </div>
    <div class="homework professor">
        <span>Professor:</span> {{homework.professor}}
    </div>
</article>